<label for=for class="control-label">{{labelText}}</label>
{{input type=type class="form-control" id=id placeholder=placeholder}}
<p class="help-block">
  {{#each errors}}
    {{message}}
  {{/each}}
</p>
